h1 {
  color: #102770;
  text-align: center;
  padding: 20px;
  background-color: #5EFAF7;
  border-radius: 20px;
}

.container {
  padding: 100;
  margin: auto;
  background-color: white;
  border-radius: 50px;
  width: 550;
  position: relative;
  border: solid;
  border-color: #102770;
}

input {
  padding: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  outline: solid;
  outline-color: #ECF0F1;
}

span {
  padding: 10px;
  margin: 10px;
}

h4 {
  text-align: center;
}

body {
  background-image: url('formbg.jpg');
  background: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

button {
  border: 3px solid #fff;
  color: black;
  background: red;
  padding: 16px 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}