@import url('https://fonts.googleapis.com/css?family=Questrial');
body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial';
  background: #fff;
}

.container {
  width: 70%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #2D3E50;
  color: #FFF;
  padding: 15px 25px;
}

.line_decoration {
  height: 6px;
  width: 250px;
  background: #2D3E50;
  margin: 8px auto;
}

.line_decoration_circle {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.line_decoration_circle span {
  height: 15px;
  width: 15px;
  margin: 5px;
  background: #2D3E50;
  border-radius: 50%;
  display: inline-block;
}

.header h1 {
  margin: 0;
  line-height: 46px;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header li:hover {
  background: #1A242E;
}

.header li {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {}

p {
  text-align: center;
  font-size: 20px;
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.about {
  background-color: #18BB9C;
  color: #fff;
  margin: auto;
  padding: 30px;
}

img {
  text-align: center;
  padding: 30px;
}

.wlcm {
  text-align: center;
  background-color: #18BC9C;
  height: 500px;
  border: groove;
  border-color: black;
  height: 100%;
}

.wlcm h1 {
  font-size: 50px;
}

.line_decoration2 {
  height: 6px;
  width: 250px;
  background: black;
  margin: 8px auto;
}

.line_decoration_circle2 {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.line_decoration_circle2 span {
  height: 15px;
  width: 15px;
  margin: 5px;
  background: black;
  border-radius: 50%;
  display: inline-block;
}